<ul class="timeline mt-4">
  {% for item in site.data.timeline %}
  <li class="timeline-event-{{ forloop.index0 | modulo: 8 }}">
    <label class="timeline-event-icon-{{ forloop.index0 | modulo: 8 }}"></label>
    <div class="timeline-event-copy">
      <div class="timeline-event-thumbnail">
        {{ item.from }} - {{ item.to }}
      </div>
      <h3>{{ item.title }}</h3>
      {% if item.subtitle %}
      <h4 class="mb-2">{{ item.subtitle }}</h4>
      {% endif %}
      {% if item.sections %}
      {% for section in item.sections %}
      <div class="mb-4">
        {% if section.name %}
          <strong class="mr-1">{{ section.name }}</strong>
          {% if section.link %}
          <i class="mr-2 fa fa-arrow-circle-right" onclick="window.open('{{ section.link }}')"></i>
          {% endif %}
          {%- if section.external_url -%}
          <i class="mr-2 fas fa-globe" style="font-size: 0.95em;" onclick="window.open('{{ section.external_url }}')"></i>
          {%- endif -%}
          {%- if section.android_url -%}
          <i class="mr-2 fab fa-google-play" style="font-size: 0.95em;" onclick="window.open('{{ section.android_url }}')"></i>
          {%- endif -%}
          {%- if section.ios_url -%}
          <i class="mr-2 fab fa-apple" style="font-size: 1.15em;" onclick="window.open('{{ section.ios_url }}')"></i>
          {%- endif -%}
          {%- if section.github_url -%}
          <i class="mr-2 fab fa-github" style="font-size: 1.0em;" onclick="window.open('{{ section.github_url }}')"></i>
          {%- endif -%}
          <br>
        {% endif %}
        {% if section.description %}
          {{ section.description }}
        {% endif %}
        {% if section.skills %}
        <div class="mt-2">
        {% for skill in section.skills %}
          <span class="{% if skill.link %}btn-link{% else %}text-primary{% endif %} badge badge-pill border border-primary" {% if skill.link %} onclick="location.href='{{ skill.link }}'"{% endif %}>
          {{ skill.name }}
          </span>
        {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>