.btn-link {
  // @include sel-pastel-color(color, $i);
  color: $primary;
  cursor: pointer;
}
.btn-link:hover {
  // @include sel-pastel-color(background-color, $i);
  background-color: $primary;
  color: #fff;
  text-decoration: none;
}