$primary:   #007bff;
$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

$pastels: (
  0: #D3E4CD,
  1: #99A799,
  2: #F2DDC1,
  3: #E2C2B9,
  4: #B97A95,
  5: #F6AE99,
  6: #5F939A,
  7: #B67162
);

$text-black: #343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;